# For Loops

`for` loops will loop through an iterable until its reached the end, and stop on its own.

In [1]:
pets = ["Cat", "Dog", "Bird", "Goat"]

In [2]:
pets

['Cat', 'Dog', 'Bird', 'Goat']

For example, the loop below is going to iterate through "Cat" and "Dog" and "Bird" and "Goat", in that order. It reassigns the variable `animal` to `Cat`, `Dog`, `Bird` and `Goat` on every loop cycle so you can use the same variable in an action.

In [3]:
for animal in pets:
    print(animal)

Cat
Dog
Bird
Goat

> **Note:** The above for loop printed the animals in order because `list`'s maintain their ordering. If we looped over a `set` the values could be randomized.

#### Replacing letters with numbers in a for loop

In [4]:
for animal in pets:
    animal = animal.replace("a", "4").replace("o", "0").replace("i", "!")
    print(f"The animal with funky letters is {animal}")

The animal with funky letters is C4t
The animal with funky letters is D0g
The animal with funky letters is B!rd
The animal with funky letters is G04t

In [1]:
pets = {'Cat', 'Dog', 'Bird', 'Goat', 'Goat'}
print(pets)

{'Bird', 'Dog', 'Cat', 'Goat'}

In [2]:
for set_animal in pets:
    print(set_animal, "is the animal")

Bird is the animal
Dog is the animal
Cat is the animal
Goat is the animal

> **Note**: This was a `set` we looped over. And it did not maintain it's original ordering.

#### Looping over a string

In [9]:
word = "Pythonisthebest"
for letter in word:
    print(letter)

P
y
t
h
o
n
i
s
t
h
e
b
e
s
t

#### Looping over a paired tuple with two variables in the for loop

In [19]:
people = (
    (30, 'Kalob'),
    (5, 'Zephyr'),
    (3, 'Henry')
)

In [20]:
people

((30, 'Kalob'), (5, 'Zephyr'), (3, 'Henry'))

In [21]:
for age, name in people:
    print(f"{name} is {age} years old")

Kalob is 30 years old
Zephyr is 5 years old
Henry is 3 years old