# Type Casting

Type casting is the ability to convert data types. We do this because user input always comes back as a string, and you can't compare strings with numbers (for example). 

Or sometimes we have a tuple we need to edit. We can convert it to a list, make changes, and cast it back to a tuple. 

We can even cast most things as a boolean so we have a definite True or False answer from any data type.

### Comparing numbers and strings

In [2]:
20 == 20

True

In [3]:
20 == 20.0

True

In [4]:
20 == "20"

False

### Casting user input as an `int`

In [30]:
age = input("What is your age (enter a number): ")

What is your age (enter a number): 30

In [31]:
type(age)

str

In [32]:
age

'30'

In [33]:
age == 30

False

In [34]:
int(age)

30

In [35]:
age = int(age)

In [36]:
type(age)

int

In [37]:
age == 30

True

### Converting a tuple to a list, and back

In [13]:
tup = (1, 2, 3, 5)

In [14]:
tup

(1, 2, 3, 5)

In [15]:
tup[3]

5

In [16]:
# tup -> list -> edit the list -> tup
lst = list(tup)
print(lst)
print(type(lst))

[1, 2, 3, 5]
<class 'list'>

In [17]:
lst[3] = 4

In [18]:
lst

[1, 2, 3, 4]

In [19]:
tup = tuple(lst)

In [20]:
tup

(1, 2, 3, 4)

In [21]:
name = input("What is your name?")

What is your name?

### Casting variables to booleans (True/False)

In [22]:
has_name = bool(name)

In [23]:
type(has_name)

bool

In [24]:
has_name

False

In [25]:
if has_name:
    print("The name is ", name)

In [26]:
groceries = list(set(['Milk', 'Bread', 'Eggs', 'Milk', 'Eggs', 'Oranges', 'Chocolate']))

In [27]:
groceries

['Milk', 'Eggs', 'Chocolate', 'Oranges', 'Bread']

In [28]:
groceries.sort()

> **Note**: Above is kind of a crazy example. But it's something you might see in someone elses Python code. All we did was take a list (defined by the inner most `[...]`, then cast it as a set so it removed all duplicate items, then cast it as a list to maintain order. Lastly, we sorted the grocery list, and as a `list` data type it will maintain it's newly sorted order (which is why we cast typed it away from a `set` and into a `list`)

In [29]:
groceries

['Bread', 'Chocolate', 'Eggs', 'Milk', 'Oranges']